.exercicio-container{
  
    height: 100%;
    width: 99%;
    background-color: rgb(255, 249, 242);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
  
   
  }

  
  
  .exercicio-esquerda{
     
    height: 91%;
    width: 95%;
    background-color: rgb(253, 233, 194);
    margin: 2%;
    border-radius: 6px;
    box-shadow:  0 0 16px rgb(243, 213, 196);
   
  
  }

  
  .exercicio-esquerda-Topo{

    margin-left: 10%;
    height: 20%;
    width: 93%;   
    background-color: rgb(255, 236, 219); 
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    display: flex;
    box-shadow: 0 0 20px rgb(221, 196, 182);
  }




  .lblDias{

    margin-left: 17px;
    color: rgb(51, 31, 23);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 190%;
    justify-content: start;
    align-items: center;
    display: flex;
  }

  .inptDias{

    height: 40%;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
    border-radius: 6px;
    margin-right: 25%;
    border: none;

    cursor: pointer;
  }

  
  .exercicio-esquerda-resto{


    margin-left: 3%;
    height: 40%;
    width: 93%;   
    background-color: rgb(255, 236, 219); 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 0 20px rgb(221, 196, 182);


  }

  .btnExercicio-Esquerda{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 254, 252);
    box-shadow: 0 0 10px rgb(243, 219, 200);
    font-size: 20px;
    height: 22%;
    width: 40%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
  }

  .exercicio-esquerda-resultado{

    
    font-size: 22px;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
    height: 20%;
    width: 98%;   
    background-color: rgb(255, 236, 219); 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 0 20px rgb(221, 196, 182);
  }